
vehicle-ts/node_modules/
vehicle-ts/build
vehicle-ts/.DS_Store
vehicle-ts/mongodb-realm/
.DS_Store
atlas-backend/credentials.txt
mobile-swift/Controller.xcodeproj/project.xcworkspace/xcuserdata/
mobile-swift/Controller.xcodeproj/xcuserdata/
observer-cpp/Observer-CPP.xcodeproj/project.xcworkspace/xcuserdata/
observer-cpp/Observer-CPP.xcodeproj/xcuserdata/
static-vehicle-cpp/static-vehicle-cpp.xcodeproj/project.xcworkspace/xcuserdata/
static-vehicle-cpp/static-vehicle-cpp.xcodeproj/xcuserdata/