
vehicle-ts/node_modules/
vehicle-ts/build
vehicle-ts/ditto
vehicle-ts/src/.env*
.DS_Store
atlas-backend/credentials.txt
mobile-swift/Controller.xcodeproj/project.xcworkspace/xcuserdata/
mobile-swift/Controller.xcodeproj/xcuserdata/felix.reichenbach.xcuserdatad/xcschemes/xcschememanagement.plist
mobile-swift/Controller/Env.swift
mobile-swift/.env*