body {
    padding-top: 50px;
}

#device_state {
    height: 500px;
    background-image: url("new_car.png");
    background-repeat: no-repeat;
    background-position: 70%;
    background-color: white;
    font-size: 30px;
}

#device_state p {
    color: black;
    font-size: 16px;
    padding: 5px;
    text-align: center;
}

/*Tags*/
ul {
    list-style: none;
    padding-left: 0px;
    padding-top: 40px;
}

.border_box {
    border-style: solid;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    margin-bottom: 0px;
    padding: 7px;
}

.border_box p {
    margin-bottom: 0px;
}

#device_id {
    width: 300px;
    margin-left: 39%;
    margin-top: -30px;
    border-radius: 5px;
    border: 2px solid black;
    height: 35px;
}

#voltage {
    background-color: #E3FCF7;
    border-radius: 5px;
    width: 100px;
    margin-left: 52%;
    margin-top: 5%;

}

#current {
    background-color: #E3FCF7;
    border-radius: 5px;
    width: 100px;
    margin-left: 52%;
}

#ison {
    background-color: #F9EBFF;
    border-radius: 5px;
    width: 100px;
    margin-left: 70%;
    margin-top: -40px;
}

#engine {
    display: none;
    width: 120px;
    margin-left: 80%;
    margin-top: -70px;
}

/*Alert icon and tooltip display on hover*/
.alert_message {
    height: 50px;
}

#alert {
    width: 40px;
    margin-left: 670px;
    margin-top: -320px;
}

.alert_message:hover #tooltip {
    display: block;
    clip: initial;
    opacity: 1;
    visibility: visible;
    color: white;

}

#tooltip {
    visibility: hidden;
    background-color: #ff0000;
    font-size: small;
    text-align: center;
    margin-left: 650px;
    margin-top: -155px;
    border-radius: 5px;
    width: 170px;
}


/*Buttons*/
.col {
    flex-grow: 1;
    width: 200px;
    margin-right: 30px;
}

#component_name {
    width: 200px;
}


.jumbotron {
    background-color: white;
}

.btn {
    background-color: #00ed64;
    border: none;
    color: black;
    width: 200px;
    margin: 0px;

}

.btn:hover {
    background-color: #00684A;
}

#battery_current {
    background-color: #00ed64;
}